table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	font-weight: bold;
  box-shadow: 10px 10px 5px #888888;
  background-color:black;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	background-color:#5084e5; }

tr:nth-child(even) {
	background-color: #dddddd;
}

tr:nth-child(odd) {
	background-color: #f9f9f9;
}
.sub{
	
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.sub:hover {background-color: #3e8e41}

.sub:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
	
#homesub{
	float: right;
	background-color: white ;
}

a {
    color: #171a1d;    
}

.admin a {
    color: #282683;    
}

.hide {
	display: none;
}

.blue {
	background-color: #5084e5;
}
 .admin {
	 margin-left: 3px
 }

